* {
  image-rendering: pixelated;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 0 !important;
}

.text-single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(45deg, #a0aec0 25%, transparent 25%),
    linear-gradient(-45deg, #a0aec0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #a0aec0 75%),
    linear-gradient(-45deg, transparent 75%, #a0aec0 75%);
  background-size: 4px 4px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  border-left: 1px solid #1a202c;
}

::-webkit-scrollbar-thumb {
  background: url("/public/assets/scrollbar-grab.svg") no-repeat center;
  background-color: #edf2f7;
  border-top: 1px solid #1a202c;
  border-left: 1px solid #1a202c;
  border-bottom: 1px solid #1a202c;
}
