@font-face {
  font-family: "DisposableDroidBB";
  src: local("DisposableDroidBB"),
    url(./fonts/DisposableDroidBB/Disposable-Droid-BB.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "DisposableDroidBB";
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
